<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>Dialectical Map</title>

        <link rel="icon" href="favicon.gif">
        <link rel="stylesheet" href="style.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/solid.css" integrity="sha384-osqezT+30O6N/vsMqwW8Ch6wKlMofqueuia2H7fePy42uC05rm1G+BUPSd2iBSJL" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/fontawesome.css" integrity="sha384-BzCy2fixOYd0HObpx3GMefNqdbA7Qjcc91RgYeDjrHTIEXqiF00jKvgQG0+zY/7I" crossorigin="anonymous">
        <script src="app.js"></script>
    </head>

    <body ng-app="dmApp" ng-controller="MainController" ng-init="prebuild()">
        <!-- DM Header -->
        <div class="dmHeaderContainer">
            <div ng-click="logMapState()" class="dmLogoBlock">
                <img class="dmHeaderImg" ng-src="images/DM-Logo-HiRes.gif"/>
            </div>
            <div class="dmHeader">
                <h1 id="topBarApplicationTitle" class="header1Common dmDarkGrey">
                    Dialectical Maps
                </h1>
                <div class="headerButtonGroup dmDarkGrey">
                    <i title="Undo" ng-click="undo()" class="fas fa-undo headerIconIndividual noSelect"></i>
                    <i title="Redo" ng-click="redo()" class="fas fa-redo headerIconIndividual noSelect"></i>
                    <i title="Download" ng-click="download()" class="fas fa-download headerIconIndividual noSelect"></i>
                    <button ng-click="submit()" class="headerButton">Submit</button>
                </div>
            </div>
        </div>
        <!-- DM Application body -->
        <div class="dialecticalContainer">
            <h2 class="header2Common dmDarkGrey">
                {{mapState.assignment}}
            </h2>
            <h1 class="header1Common dmDarkGrey">
                {{mapState.topic}}
            </h1>
            <!-- container for reason area -->
            <div class="reasonContainer">
                <!-- container for stances -->
                <div class="whiteSpaceRemove">
                    <div class="stanceContainer">
                        <h1 class="header1Common dmBlue stanceTitle">{{mapState.stanceBlue}}</h1>
                    </div>
                    <div class="stanceSpacer"></div>
                    <div class="stanceContainer">
                        <h1 class="header1Common dmYellow stanceTitle">{{mapState.stanceYellow}}</h1>
                    </div>
                </div>
                <!-- TODO linked reason blocks, empty if no links -->
                <div>
                    <!-- TODO -->
                </div>
                <div class="whiteSpaceRemove">
                    <div class="commonCol">
                        <!-- Blue existing reason block -->
                        <div class="reasonBlock dmBlueBackground">
                            <!-- Reason control and strength -->
                            <div>
                                <h1 class="reasonBlockTitle header1Common dmWhite noSelect">
                                    Reason
                                    <div class="reasonButtonGroup">
                                        <i class="fas fa-caret-square-up"></i>
                                        <i class="fas fa-caret-square-down"></i>
                                        <i class="fas fa-minus-square"></i>
                                    </div>
                                </h1>
                            </div>
                            <!-- Reason content -->
                            <div class="reasonContent">
                                <textarea class="reasonTextArea bodyType" placeholder="Insert Reason"></textarea>
                            </div>
                            <!-- Evidence Control -->
                            <div class="noSelect">
                                <h1 class="reasonBlockTitle header1Common dmWhite evidenceTitleOv">
                                    <div class="toggleCaret clickable">
                                        <i ng-show="!blueToggle" ng-click="blueToggle = true" class="fas fa-caret-right"></i>
                                        <i ng-show="blueToggle" ng-click="blueToggle = false" class="fas fa-caret-down"></i>
                                    </div> Evidence
                                </h1>
                            </div>
                            <!-- Evidence content -->
                            <div ng-if="blueToggle" class="evidenceContent">
                                <!-- TODO select box polish -->
                                <select class="supportsDropdown"></select>
                                <textarea class="evidenceTextArea bodyType" placeholder="Insert Evidence"></textarea>
                                <textarea class="evidenceTextArea bodyType" placeholder="Warrants"></textarea>
                                <!-- TODO add evidence empty block -->
                            </div>
                        </div>
                        <!-- Blue add reason block -->
                        <div class="addReasonBlock dmBlueBackground reasonBlockHeaderOv noSelect clickable">
                            <h1 class="header1Common reasonBlockHeaderOv dmWhite">
                                <i class="fas fa-plus"></i> Add Reason
                            </h1>
                        </div>
                    </div>
                    <div ng-click="linkArguments()" class="linker dmLightGreyBackground clickable">
                        <i id="linkerArrow" class="fas fa-arrows-alt-h"></i>
                    </div>
                    <!-- Replace later with swapped blue grid -->
                    <div class="commonCol">
                        <!-- Yellow existing reason block -->
                        <div class="reasonBlock dmYellowBackground">

                        </div>
                        <!-- Yellow add reason block -->
                        <div class="addReasonBlock dmYellowBackground">
                            <h1 class="header1Common reasonBlockHeaderOv dmBlue">
                                <i class="fas fa-plus"></i> Add Reason
                            </h1>
                        </div>
                    </div>
                    <!-- end of replace later -->
                </div>
            </div>
        </div>
        <!-- Color v area -->
        <div class="halfVContainer">
            <div class="triBorder">

            </div>
        </div>
        <!-- container for conclusion area -->
        <div class="conclusionContainer">
            <div class="conclusionContent">
                <h1 id="conclusionTitle" class="header1Common dmDarkGrey">
                    Conclusion
                </h1>
                <div class="conclusionText dmDarkGrey bodyType">
                    {{mapState.conclusion}}
                </div>
            </div>
        </div>
    </body>
</html>
